<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/user/Desktop/Task/src/test/java/githubTests">
        <classes>
            <class name="githubTests.Test1"></class>
            <class name="githubTests.Test2"></class>
            <class name="githubTests.Test3"></class>
            <class name="githubTests.Test4"></class>
            <class name="githubTests.Test5"></class>
            <class name="githubTests.Test6"></class>
            <class name="githubTests.Test7"></class>
            <class name="githubTests.Test8"></class>
        </classes>
    </test>
</suite>